/* Galaxy S8+ */
@media screen and (min-width: 360px) {
.header {
  padding-bottom: 302.25px;
}

.header-logo h1 {
  margin-top: 302.25px;
}
}

/* iPhone SE 6/7/8 */
@media screen and (min-width: 375px) {
.header {
  padding-bottom: 265.75px;
}

.header-logo h1 {
  margin-top: 265.75px;
}
}

/* iPhone 12Pro */
@media screen and (min-width: 390px) {
.header {
  padding-bottom: 380px;
}

.header-logo h1 {
  margin-top: 380px;
}
}

/* Pixel 5 */
@media screen and (min-width: 393px) {
.header {
  padding-bottom: 357.75px;
}

.header-logo h1 {
  margin-top: 357.75px;
}
}

/* Pixel 2 */
@media screen and (min-width: 411px) {
.header {
  padding-bottom: 297.75px;
}

.header-logo h1 {
  margin-top: 297.75px;
}
}

/* Galaxy S20 Ultra */
@media screen and (min-width: 412px) {
.header {
  padding-bottom: 389.75px;
}

.header-logo h1 {
  margin-top: 389.75px;
}
}

/* iPhone XR */
@media screen and (min-width: 414px) {
.header {
  padding-bottom: 380px;
}

.header-logo h1 {
  margin-top: 380px;
}
}

/* iPhone 6/7/8 Plus*/
@media screen and (min-height: 736px) {
.header {
  padding-bottom: 300px;
}

.header-logo h1 {
  margin-top: 300px;
}
}

/* iPhone X */
@media screen and (min-height: 812px) {
.header {
  padding-bottom: 338.25px;
}

.header-logo h1 {
  margin-top: 338.25px;
}
}

@media screen and (min-width: 481px) {
.header {
  padding-bottom: 300px;
}

.header-logo h1 {
  font-size: 50px;
}

/* iPad Mini */
@media screen and (min-width: 768px) {
.header {
  padding-bottom: 434.5px;
}

.header-logo h1 {
  margin-top: 434.5px;
}
}

/* iPad Air */
@media screen and (min-width: 820px) {
.header {
  padding-bottom: 512.5px;
}

.header-logo h1 {
  margin-top: 512.5px;
}
}

/* Surface Pro 7 */
@media screen and (min-width: 912px) {
.header {
  padding-bottom: 606.5px;
}

.header-logo h1 {
  margin-top: 606.5px;
}
}

.header-menu nav ul li a {
  font-size: 15px;
  margin: 0 6px;
  padding: 10px;
}

.career h1 {
  padding: 175px 0 225px;
  font-size: 50px;
}

.career h2 {
  padding-bottom: 125px;
  font-size: 40px;
}

.career-ex {
  padding-bottom: 150px;
}

.career-ex1 {
  width: 175px;
  text-align: center;
}

.tablet-br2 {
  display: none;
}

.tablet-br {
  display: block;
}

.career-ex2 {
  width: 295px;
}

.skill h1 {
  padding: 175px 0 225px;
  font-size: 50px;
}

.skill-ex1 {
  width: 450px;
  margin: 0 auto;
}

.skill-ex1 p {
  padding: 75px 0 25px;
}

.skill-img2 {
  padding-top: 150px;
}

.skill-ex2 {
  width: 450px;
  margin: 0 auto;
}

.skill-ex2 p {
  padding: 75px 0 25px;
}

.skill-img3 {
  padding-top: 150px;
}

.skill-ex3 {
  width: 450px;
  margin: 0 auto;
}

.skill-ex3 p {
  padding: 75px 0 150px;
}

.profile h1 {
  padding: 175px 0 225px;
  font-size: 50px;
}

.profile-name h2 {
  padding-bottom: 125px;
  font-size: 40px;
}

.profile-ex {
  width: 450px;
}

.profile-ex p {
  padding: 75px 0 200px;
}

.footer1 {
  display: flex;
  justify-content: space-evenly;
}

.mail {
  width: 300px;
}

.footer-sns {
  width: 100px;
  margin: 25px 0;
}

.footer-sns ul {
  font-size: 50px;
}
}

@media screen and (min-width: 960px) {

.header {
  padding-bottom: 400px;
}

.header-logo h1 {
  font-size: 80px;
  margin-top: 400px;
}

.header-menu {
  display: inline-block;
}

.header-menu nav ul li a {
  font-size: 25px;
  margin: 0 15px;
  padding: 25px 25px 5px;
}


/* iPad Pro */
@media screen and (min-width: 1024px) {
  
  .header {
    padding-bottom: 579.25px;
  }
  
  .header-logo h1 {
    margin-top: 579.25px;
  }
}

/* MacBook Air */
@media screen and (min-width: 1440px) {

  .header {
    padding-bottom: 346.25px;
  }
  
  .header-logo h1 {
    margin-top: 346.25px;
  }
}
.career h1 {
  padding: 250px 0 300px;
  font-size: 60px;
}

.career h2 {
  padding-bottom: 200px;
  font-size: 50px;
}

.career-ex {
  padding-bottom: 200px;
}

.career-ex1 {
  width: 400px;
  text-align: center;
  font-size: 25px;
}

.career-ex2 {
  width: 550px;
  font-size: 25px;
}

.tablet-br3 {
  display: none;
}

.tablet-br4 {
  display: block;
}

.skill h1 {
  padding: 250px 0 150px;
  font-size: 60px;
}

.skill-ex {
  display: flex;
  justify-content: space-evenly;
}

.skill-ex1 {
  width: 470px;
}

.skill-img1 {
  padding-top: 150px;
}

.skill-ex1 p {
  padding: 75px 0;
  font-size: 25px;
  line-height: 40px;
}

.skill-ex2 {
  width: 470px;
}

.skill-img2 {
  margin: 0;
}

.skill-ex2 p {
  padding: 75px 0;
  font-size: 25px;
  line-height: 40px;
}

.skill-ex3 {
  width: 470px;
}

.skill-img3 {
  margin: 0;
}

.skill-ex3 p {
  padding-bottom: 200px;
  font-size: 25px;
  line-height: 40px;
}

.profile h1 {
  padding: 250px 0 300px;
  font-size: 60px;
}

.profile-name h2 {
  padding-bottom: 200px;
  font-size: 50px;
}

.profile-contain {
  display: flex;
  justify-content: center;
  padding-bottom: 300px;
}

.profile-img {
  width: 450px;
  margin: 0;
}

.profile-img img {
  width: 400px;
  height: 510px;
}

.profile-ex {
  display: table;
  width: 500px;
  margin: 0;
  padding-left: 15px;
}

.profile-ex p {
  padding: 0;
  display: table-cell;
  vertical-align: middle;
  font-size: 25px;
  line-height: 40px;
}

.footer1 {
  justify-content: space-between;
}

.mail {
  width: 500px;
}

.footer-sns {
  width: 200px;
  margin: 50px 100px 50px 0px;
}

.footer-sns ul {
  font-size: 50px;
}
}

/* MacBook 13.3 */
@media screen and (min-width: 2560px) {

.header {
  padding-bottom: 696.25px;
}

.header-logo h1 {
  margin-top: 696.25px;
  font-size: 200px;
}

.header-menu nav ul li a {
  font-size: 50px;
  margin: 0 30px;
  padding: 75px 75px 35px;
}

/* MacBook 14.2 */
@media screen and (min-width: 3024px) {

.header {
  padding-bottom: 769.5px;
}

.header-logo h1 {
  margin-top: 769.5px;
}
}

/* MacBook 16.2 */
@media screen and (min-width: 3456px) {

.header {
  padding-bottom: 904.5px;
}

.header-logo h1 {
  margin-top: 904.5px;
}
}

/* iMac 24 */
@media screen and (min-width: 4480px) {

.header {
  padding-bottom: 935px;
}

.header-logo h1 {
  margin-top: 935px;
  font-size: 300px;
}

.header-menu nav ul li a {
  font-size: 100px;
  margin: 0 50px;
  padding: 100px 100px 50px;
}
}

/* iMac 27 */
@media screen and (min-width: 5120px) {

.header {
  padding-bottom: 1115px;
}

.header-logo h1 {
  margin-top: 1115px;
}

}
.career h1 {
  padding: 500px 0 400px;
  font-size: 80px;
}

.career h2 {
  padding-bottom: 400px;
  font-size: 60px;
}

.career-ex {
  padding-bottom: 400px;
}

.career-ex1 {
  width: 700px;
  text-align: center;
  font-size: 50px;
}

.career-ex2 {
  width: 850px;
  font-size: 50px;
}

.tablet-br3 {
  display: none;
}

.tablet-br4 {
  display: block;
}

.skill h1 {
  padding: 500px 0 400px;
  font-size: 80px;
}

.skill-ex {
  display: flex;
  justify-content: space-evenly;
}

.skill-ex1 {
  width: 600px;
}

.skill-img1 {
  padding-top: 150px;
}

.skill-img1 h2 {
  font-size: 50px;
}

.skill-ex1 p {
  padding: 100px 0;
  font-size: 40px;
  line-height: 45px;
}

.skill-ex2 {
  width: 600px;
}

.skill-img2 {
  margin: 0;
}

.skill-img2 h2 {
  font-size: 50px;
}

.skill-ex2 p {
  padding: 100px 0;
  font-size: 40px;
  line-height: 50px;
}

.skill-ex3 {
  width: 600px;
}

.skill-img3 {
  margin: 0;
}

.skill-img3 h2 {
  font-size: 50px;
}

.skill-ex3 p {
  padding-bottom: 400px;
  font-size: 40px;
  line-height: 50px;
}

.profile h1 {
  padding: 500px 0 400px;
  font-size: 80px;
}

.profile-name h2 {
  padding-bottom: 400px;
  font-size: 60px;
}

.profile-contain {
  padding-bottom: 400px;
}

.profile-img {
  width: 700px;
  margin: 0;
}

.profile-img img {
  width: 600px;
  height: 700px;
}

.profile-ex {
  display: table;
  width: 700px;
  margin: 0;
  padding-left: 25px;
}

.profile-ex p {
  padding: 0;
  display: table-cell;
  vertical-align: middle;
  font-size: 40px;
  line-height: 50px;
}

.footer1 {
  justify-content: space-between;
}

.mail {
  width: 700px;
}

.footer-sns {
  width: 400px;
  margin: 100px 125px 100px 0px;
}

.footer-sns ul {
  font-size: 75px;
}
}
